In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import gmaps.geojson_geometries
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Iwanai,42.9744,140.5089,23.02,84,100,12.41,JP,2022-02-03 19:43:02
1,1,Airai,-8.9266,125.4092,60.80,94,100,2.66,TL,2022-02-03 19:43:02
2,2,Severo-Kurilsk,50.6789,156.1250,29.95,88,100,7.78,RU,2022-02-03 19:41:56
3,3,Kapaa,22.0752,-159.3190,75.47,71,0,1.01,US,2022-02-03 19:43:03
4,4,Victoria,22.2855,114.1577,55.33,85,92,7.00,HK,2022-02-03 19:43:04

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

max_temp = max_temp

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)
            for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Kapaa,22.0752,-159.3190,75.47,71,0,1.01,US,2022-02-03 19:43:03
8,8,Lorengau,-2.0226,147.2712,79.20,80,100,6.17,PG,2022-02-03 19:40:31
16,16,Chuy,-33.6971,-53.4616,81.16,70,79,13.09,UY,2022-02-03 19:40:36
17,17,Saint-Pierre,-21.3393,55.4781,80.24,91,100,30.06,RE,2022-02-03 19:42:16
22,22,Phan Thiet,10.9333,108.1000,72.05,88,9,7.78,VN,2022-02-03 19:40:54
23,23,Puerto Ayora,-0.7393,-90.3518,84.16,84,15,8.01,EC,2022-02-03 19:43:11
25,25,Castro,-24.7911,-50.0119,73.04,85,57,1.86,BR,2022-02-03 19:43:12
32,32,Atuona,-9.8000,-139.0333,78.30,72,0,12.84,PF,2022-02-03 19:39:08
35,35,Maragogi,-9.0122,-35.2225,81.97,66,78,12.57,BR,2022-02-03 19:43:16
36,36,Bambous Virieux,-20.3428,57.7575,81.21,94,75,26.46,MU,2022-02-03 19:39:19

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       1
Date          0
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp      Lat       Lng Hotel Name
3           Kapaa      US     75.47  22.0752 -159.3190
8        Lorengau      PG     79.20  -2.0226  147.2712
16           Chuy      UY     81.16 -33.6971  -53.4616
17   Saint-Pierre      RE     80.24 -21.3393   55.4781
22     Phan Thiet      VN     72.05  10.9333  108.1000
..            ...     ...       ...      ...       ...        ...
552       Businga      CD     78.08   3.3333   20.8833
556      Alenquer      BR     86.34  -1.9417  -54.7383
558         Amapa      BR     78.03   1.0000  -52.0000
560          Fare      PF     80.67 -16.7000 -151.0167
564     Inhambane      MZ     78.85 -23.8650   35.3833

[199 rows x 6 columns]

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head()

            City Country  Max Temp      Lat       Lng Hotel Name
3          Kapaa      US     75.47  22.0752 -159.3190
8       Lorengau      PG     79.20  -2.0226  147.2712
16          Chuy      UY     81.16 -33.6971  -53.4616
17  Saint-Pierre      RE     80.24 -21.3393   55.4781
22    Phan Thiet      VN     72.05  10.9333  108.1000

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]